@charset "utf-8";


* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


header{
	padding-top: 15px;
}
img{
	width: 100%;
}
img.logo{
	display: block;
	width: 100%;
}
h1.logo{
	font-size: 5vw;
}
img.banner{
	display: block;
	width: 100%;	
}
a:link {
  text-decoration: none;
}

a:visited {
	color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
a.header{
	font-size: 6.5vw;
	color: black;
}
li.header{
	display:block;


	/*
	height: 10%;
	
	text-align: center;
	*/
}

ul.header{
	list-style-type: none;
	padding-left: 0px;
	/*background-color: gray;
	padding: 3% 0px 3% 0px;
	margin-bottom: 0px;*/
}
h1{
	text-align: center;
}
h1.du_lich{
	text-align: left;
}
h2.du_lich{
	font-size: 18px;
	margin-top: 10vw;
}
main{
	margin-top: 7vw;
	margin-right: 9vw;
	margin-left: 9vw;
}
i.img_caption{
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}
footer{
	background-color: black;
	color: white;
	padding-top: 7vw;
	padding-right: 9vw;
	padding-left: 9vw;	
}